/* body {
  padding: 2rem;
} */
.title {
  margin: auto;
  max-width: 70rem;
  padding-left: 1.5rem;
  padding-right: 5rem;
  text-align: center;
  /* margin-top: 4rem; */
}
.container {
  display: flex;
  margin: auto;
  max-width: 70rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  /* background-color: pink; */
}

.container1 {
  flex: 1.5;
  min-width: 28rem;
  /* margin: 0; */
}

img {
  width: 100%;
  height: auto;
  margin-top: 2em;
  /* margin-bottom: 5em; */
}

.container2 {
  flex:1;
  min-width: 25rem;
  margin: 0;
}

.content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
