body {
  padding: 2rem;
}

.container {
  display: flex;
  margin: auto;
  max-width: 70%;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.container1 {
  flex: 2;
  min-width: 10rem;
}

img {
  width: 100%;
  height: auto;
}

.container2 {
  flex:1;
  min-width: 10rem;
}

.container3 {
  flex:1;
  min-width: 10rem;
}
