@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family:'Raleway', Verdana, Arial, Helvetica, sans-serif;
  background: #edefee;
}

/* Stylying for style guide */
.element p , #combined_elements p{
  margin-left: 1rem;
}
.style {
  padding: 2rem;
}
.element img {
  max-width: 40%;
  height: auto;
}
.grid a, .element a{
  margin-left: 0;
  margin-right: 2rem;

}
.grid {
  /* margin-top: 1rem; */
    display: flex;
    flex-wrap: wrap;
}

p {
  line-height: 2.5em;
  font-weight: 400;
  font-size: 1rem;
  max-width: 50rem;
  color: #453886;
  margin-bottom: 2em;
  margin: auto;
  word-break: break-all;

}
a, a:visited{
  text-decoration: none;
  border-bottom: 1px solid ;
  border-bottom-color: #aaceca;
  color: #aaceca;
}

/* stylying for navigation hover */
a:hover {
  border-bottom: 0;
  text-decoration: none;
}

/* Stylying for limit text max width*/
code, ol, ul {
  max-width: 60rem;
}

li{
  font-family: 'Poppins';
  font-size: 1rem;
  margin-top: 1rem;
  color: #453886;
  list-style: none;
}

form {
  display: block;
}
/* Stylying for style guide */
.element {
  padding-bottom: 2rem;
  border-top-width: 0.3rem;
  border-top-style: solid;
  border-top-color: black;
}

h2 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #85c5b5;
  font-family: 'Poppins';
  font-size: 2rem;
  margin-top: 1rem;
  color: #85c5b5;
  font-weight: 600;
}

h1 {
  border-bottom: 1px solid;
  font-family: 'Poppins';
  color:#84c4b4;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 600;
}

h4 {
  font-family: 'Poppins';
  font-size: 1.5rem;
  font-weight: 600;
}

h5{
  font-family: 'Poppins';
  color:gray;
  font-size: 1rem;
  font-weight: 600;
}

/* Stylying for navigation */
nav{
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
}

nav a{
  margin-left: 3rem;
}

nav a:hover, nav a:focus {
  text-decoration: none;
  display: inline-block;
}

/* Stylying for style guide's code section */
code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
  word-break: break-all;
}

section{
   margin-bottom: 100px;
}

/* Stylying for button */
.button {
  background-color: #453886;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 20px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Stylying for images */
figure {
	margin: 0;
	padding-left: 1.5rem;
  padding-right: 1.5rem;
	overflow: hidden;
}


/* Stylying for hamburger menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgba(108,108,100, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  font-family: 'Poppins';
  font-size: 3rem;
  margin-top: 1rem;
  color: #453886;
  font-weight: 600;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #d6e1dd;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: 15px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* Stylying for home page */
.home {
  width: 100%;
  flex-wrap: wrap;
  background-color: #aaceca;
  position: relative;
  padding-bottom: 6rem;
}

.start h1 {
  /* color: white; */
  text-align: center;
  border-bottom: none;
  padding-top: 6rem;
}

.home h2 {
  color: white;
  text-align: center;
  border-bottom: none;
  padding-top: 2rem;
}


.home p {
  padding-left: 1.5rem;
  color: white;
}

.nav-button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  z-index: 9;
}
/* Stylying of hamburger menu ends here */

/* Stylying for about page */
.about{
  position: relative;
  max-width: 30rem;
  padding-top: 6rem;
  margin: auto;
}

.intro {
  margin: 3rem;
}

/* Stylying for project nav  */
.project-nav{
  display: block;
  margin-left: 30%;
  padding-top: 30%;
}

.project-nav h2:hover {
  border-bottom: none;
  border-top: none;
}

.project-nav a{
  border-bottom: none;
}

/* Stylying for home page's image animation */
.home .container1 {
  transform: scale(0.9);
  color: white;
}

.home .container1:hover, .home .container1:focus {
 text-decoration: underline;
 color: white;
 transform: scale(1);
 transition-duration: 0.5s;


}

/* Stylying for footer */
footer {
  width: 100%;
  position: inherit;
  margin: auto;
  padding: 3rem 0 0 0;
  text-align: center;
  bottom: 0;
}
#project {
  position: fixed;
}

footer p {
  text-decoration: none;
  font-size: 0.8em;
}

/* animation of images */
@keyframes image {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}
.container img {
  animation: image 2s linear;
}

/* Stylying for project page's image */
.web img{
opacity: 0;
width: 30%;
min-width: 20rem;
height: auto;
left: 10%;
position: absolute;
top: 5%;
}
.material img{
opacity: 0;
width: 30%;
min-width: 20rem;
height: auto;
left: 40%;
position:absolute;
top:5%;
}


a:hover img{
  opacity: 1;
  /* display:block; */
}
a:hover h2 {
  border: none;
}

/* Stylying for citation page */
.citation h1{
text-align: center;
}
ul {
  margin: auto;
}

/* Responsive media query */
@media (max-width: 820px) {
  .web img{
  opacity: 0;
  width: 30%;
  min-width: 20rem;
  height: auto;
  align-items: center;
  position: absolute;
  top: 55%;
  }

  .material img{
  opacity: 0;
  width: 30%;
  min-width: 20rem;
  height: auto;
  left: 10%;
  position:absolute;
  top:55%;
  }

  a:hover img{
    opacity: 1;
    /* display:block; */
  }
}
