@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* background: white; */
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.frame > div {
  width: 100%;
  position: absolute;
  text-transform: uppercase;
}
.frame > div > span {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bottom {
  background: #74ae9f;
  height: 100%;
}

.top {
  height: 50%;
  background: #aaceca;
  z-index: 3;
  overflow: hidden;
  color: transparent;
  text-shadow: 0 0 8px white;
}
